<body>
<div class="profile-container">
  <div class="profile-header">
    <img class="profile-picture" src="assets/IMG_0066.JPG" alt="Profile Picture">
    <h1 class="profile-username">Vasyl Syslike</h1>
    <p class="profile-bio">Web Developer(Хуй на палочке)</p>
  </div>

  <div class="profile-content">
    <h2>About Me</h2>
    <p>Докер хуйокер к8s я тобі рот шатав</p>

    <h2>Skills</h2>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
    </ul>
    <p class="bobko">Бобко дотнет</p>
  </div>
</div>
</body>
